<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        " http://www.hibernate.org/dtd/hibernate-configuration>

<hibernate-configuration>
    <session-factory>
        <!-- Hibernate settings -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Entity mapping -->
        <mapping class="org.wifijava.mailproject.persistence.entity.User"/>
        <mapping class="org.wifijava.mailproject.persistence.entity.Mail"/>
    </session-factory>
</hibernate-configuration>
